<mat-progress-spinner *ngIf="loading" mode="indeterminate"></mat-progress-spinner>
<div class="row">
  <div class="col">
    <form class="userForm" name="contactForm">
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <img src="{{contacto.Imagen}}" class="img-fluid">
          </div>
        </div>
        <div class="col-xs-12 col-md-9">
          <div class="form-group">
            <input class="form-control" [(ngModel)]="contacto.Imagen" name="Imagen" placeholder="Imagen" required>
          </div>
          <div class="form-group">
            <input class="form-control" [(ngModel)]="contacto.Username" name="Alias" placeholder="Alias" required>
          </div>

          <div class="form-group">
            <input class="form-control" [(ngModel)]="contacto.Nombre" name="nombre" placeholder="Nombre" required>
          </div>
          <div class="form-group">
            <input class="form-control" [(ngModel)]="contacto.Apellido" name="apellido" placeholder="Apellido" required>
          </div>

          <div *ngIf="contacto?._id" class="btn-group">
            <button class="btn btn-succcess" (click)="updateUser(contacto)">
              <i class="material-icons">save</i> Guardar
            </button>

            <button class="btn btn-danger" (click)="deleteUser(contacto)">
              <i class="material-icons">delete</i>
            </button>
          </div>

          <div *ngIf="!contacto?._id">
            <button class="btn" (click)="addUser()">
              <i class="material-icons">add</i> Agregar
            </button>
          </div>
        </div>

      </div>
    </form>
  </div>
</div>